<a href="https://colab.research.google.com/github/VrishankDesai/ISRO/blob/main/python_basics_isro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
message="Hello python!"

In [ ]:
type(message)

str

In [ ]:
print(message)

Hello python!

In [ ]:
import random

In [ ]:
random.randint(1,100)

89

In [ ]:
from pathlib import Path
from math import pow

In [ ]:
rate=10
principal=1000
time=3

In [ ]:
interest=(rate*principal*time)/100

In [ ]:
print(interest)

300.0

In [ ]:
x=10.0
print(type(x))
x=True
print(type(x))
y=False
print(type(y))

<class 'float'>
<class 'bool'>
<class 'bool'>

In [ ]:
seconds=1042
display_minutes=1042//60
display_seconds=1042 % 60
print(display_minutes)
print(display_seconds)

17
22

In [ ]:
x=12
if x<10:
  print("x is lesser than 10")
print("conditional statements")

conditional statements

In [ ]:
moon="Moon has a radius of 1080 miles"
print(moon)

Moon has a radius of 1080 miles

In [ ]:
planets=["Mercury","Venus","earth","Mars","jupiter","saturn","uranus","neptune"]
print("First planet is: ",planets[0])
print("fifth planet is: ",planets[4])

First planet is:  Mercury
fifth planet is:  jupiter

In [ ]:
t=1,2,'abcd'
x=y=z=t
print(x)
print(y)
print(z)

(1, 2, 'abcd')
(1, 2, 'abcd')
(1, 2, 'abcd')

In [ ]:
telephone={'jack':123,'sape':456,'alpha':789}
telephone
telephone['jack']
telephone['alpha']
telephone

{'jack': 123, 'sape': 456, 'alpha': 789}